* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.p1 {
    display: flex;
    justify-content: center;


}

.h1 h1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
}



.search-box {
    height: 60px;
    width: 800px;
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    padding-left: 25px;




}

.search-box input {
    border: none;
    outline: none;
    width: 70%;
}

.search-box button {
    border: none;
    border-radius: 30px;

}



.input {
    display: flex;
    justify-content: center;
}

.main>* {
    padding: 7px 0;
}




.button {
    border-radius: 30px;
    width: 200px;
    height: 50px;
}

.p2 {
    text-align: center;
}

.plan-sc {
    display: flex;
    justify-content: center;
}

.plan {
    height: 50px;
    width: 40%;
    border: 2px solid lightgreen;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;


}

.plan>* {
    width: 49%;
    height: 90%;
    outline: none;
    border: none;
    background-color: dodgerblue;
    color: white;

}

.plan :nth-child(1) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}

.plan :nth-child(2) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

.plan :nth-child(1):hover,
.plan :nth-child(2):hover {
    background-color: blue;
}

.outer {
    display: flex;
    gap: 10px;

}


.inner {
    height: 650px;
    width: 33.3%;
    border: 1px solid red;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heading {
    height: 7%;
    width: 100%;
    background-color: rgb(123, 241, 123);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
    font-weight: 700;
}

.heading p {
    text-align: center;
}

.heading2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.salary {
    display: flex;
    padding: 20px;
}

.rupees p1 {
    font-size: 65px;
    font-weight: 600;
}

.hr {
    margin: 20px;
}

.p p {
    padding: 20px;
}

.ul li {
    list-style: none;
}

.button {
    width: 90%;
    height: 50px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}

.head2 button {
    background-color: greenyellow;
    font-weight: 500;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 30px;

}








.div {
    height: 500px;
}

.footer {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(16, 16, 69, 1) 100%, rgba(0, 212, 255, 1) 100%);
    padding: 0 50px;
}


.ulist li {
    list-style: none;
}

.ulist :nth-child(1) {
    font-weight: 500;
    font-size: 17px;
}


@media screen and (max-width:900px) {
    .outer {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .inner {
        width: 49%;
    }

    .plan {
        width: 49%;
    }
}


@media screen and (max-width:770px) {
    .outer {
        flex-direction: column;
    }

    .inner {
        width: 99%;

    }

    .plan {
        width: 95%;
    }
}